.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	object-fit: contain;
}

.homebg {
	background: url("https://cdn.pixabay.com/photo/2016/09/13/19/31/texture-1668079__340.jpg");
	background-size: cover;
	background-position: center;
}

.image {
	display: block;
	top: 0px;
	position: relative;
	max-width: 262px;

	border-radius: 4px;
	padding: 32px 24px;
	margin: 12px;
	text-decoration: none;
	z-index: 0;
	overflow: hidden;
}

.image:hover {
	transition: all 0.2s ease-out;
	box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
	top: -4px;
	border: 1px solid #cccccc;
	background-color: white;
}

image:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -16px;
	right: -16px;
	background: #00838d;
	height: 32px;
	width: 32px;
	border-radius: 32px;
	transform: scale(2);
	transform-origin: 50% 50%;
	transition: transform 0.15s ease-out;
}

image:hover:before {
	transform: scale(2.15);
}
