.questionListAdmin {
	background: rgb(219, 241, 243);
	background-position: center;
	background-size: cover;
}

.questionListPatient {
	background: rgb(219, 241, 243);
	background-position: center;
	background-size: cover;
}

.commonViewQuestion {
	background: rgb(219, 241, 243);
	background-position: center;
	background-size: cover;
}
