.profilePic {
	display: flex;
	align-items: center;
	padding: 5px;
}
.profileContainer {
	display: flex;
	margin: 20px;
}
@media only screen and (max-width: 768px) {
	.profileContainer {
		flex-direction: column-reverse;
	}
}
.editBg {
	background: url("../../../Images/editView.jpg");
	background-position: center;
	background-size: cover;
}
.denied {
	background: url("../../../Images/accessDenied.jpg");
	background-position: center;
	background-size: cover;
}
