.blogReportBg {
	background: url("../../../Images/blogs-background.jpg");
	background-position: center;
	background-size: cover;
}

.denied {
	background: url("../../../Images/accessDenied.jpg");
	background-position: center;
	background-size: cover;
}
