.feedbackListAdmin {
	background: rgb(219, 241, 243);
	background-position: center;
	background-size: cover;
}

.feedbackListPatient {
	background: rgb(219, 241, 243);
	background-position: center;
	background-size: cover;
}

.commonViewFeedback {
	background: rgb(219, 241, 243);
	background-position: center;
	background-size: cover;
}
