.about {
	width: 100%;
	height: 190vh;
	display: flex;
	flex-direction: column;
	background: url("../../../Images/aboutus.jpg");
	background-position: center;
	background-size: cover;
}

.aboutTop {
	width: 100%;
	height: 50%;
	background: url("../../../Images/about.jpg");
	background-position: center;
	background-size: cover;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
